<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CachuPin - Perros</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css"> {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container">
            <a href="#" class="navbar-brand"><span class="text-primary">Cachu</span>Pin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
                aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarS">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href= {%url 'login'%} class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'main'%} class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'catalogo'%} class="nav-link">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'perros'%} class="nav-link">Perros</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'gatos'%} class="nav-link">Gatos</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'tallas'%} class="nav-link">Tallas</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'suscripciones'%} class="nav-link">Suscripciones</a>
                    </li>
                    <li class="nav-item">
                        <a href={%url 'nosotros'%} class="nav-link">Nosotros</a>
                    </li>
                    
                </ul>
                <div>
                    <a href={%url 'carrito'%} class="text-decoration-none" >
                        <i class="bi bi-cart"></i>
                    </a>
                </div>

            </div>
        </div>
    </nav>

    <div class="dogs">
        <div class="banner-perro">
            <h1>Accesorios perro</h1>
            <img src="https://www.superzoo.cl/on/demandware.static/-/Library-Sites-SuperZooSharedLibrary/default/dwbb854db9/SuperZoo/categorias/categorias-desktop/perro-accesorio.jpg" alt="Banner" style="margin-bottom: 20px;">
            
            <!-- fila de productos -->
            <div class="row">
                <!-- Productos -->
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://ae01.alicdn.com/kf/Hd9576bf7d12c49618ba9d33e28444ad7B/Correa-ajustable-con-estampado-para-perros-y-gatos-arn-s-de-correa-de-plomo-para-el.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Arnes de huesitos</h5>
                          <p class="card-text">Correa para perro en distintas medidas y colores</p>
                          <a href={%url 'arnes_perros'%} class="btn btn-primary">Ver producto</a>
                          <a href={%url 'carrito'%} class="btn btn-secondary" style="background-color: orange;">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.dhresource.com/0x0/f2/albu/g9/M01/96/61/rBVaWF4W-0OAYG2rAAmXFmGBlMg686.jpg/double-strand-pet-rope-large-14-colors-dog.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Correa bicolor</h5>
                            <p class="card-text">Correa para perro en distintas medidas y colores</p>
                            <a href={%url 'correa_perros'%} class="btn btn-primary">Ver producto</a>
                            <a href={%url 'carrito'%} class="btn btn-secondary" style="background-color: orange;">Comprar</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.joomcdn.net/33c29fc84e6fe71c60c7975848980b11ea30c122_original.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bandana con diseño</h5>
                            <p class="card-text">Bandanas para perro en distintas medidas y colores</p>
                            <a href={%url 'bandana_perros' %} class="btn btn-primary">Ver producto</a>
                            <a href={%url 'carrito'%} class="btn btn-secondary" style="background-color: orange;">Comprar</a>
                        </div>
                    </div>
                </div>



        

    </div>

                    <!-- DERECHOS Y REDES -->
                    <footer class="bg-dark p-2 text-left ">
                        <div class="container">
    
                        <!--Redes sociales-->                 
                            <div class="redes-titulo">
                                <h3 class="text-white" ><b>Siguenos</b></h3>
                            </div>
                            
                            <!--Facebook-->
                            <a  class="btn text-white m-1" 
                                href="#" role="button" 
                                data-mdb-ripple-color="dark">
                                <i class="bi bi-facebook"></i>
                            </a>
    
                            <!--Instagram-->
                            <a  class="btn text-white m-1" 
                                href="#" role="button" 
                                data-mdb-ripple-color="dark">
                                <i class="bi bi-instagram"></i>
                            </a>
    
    
                            <!--Twitter-->
                            <a  class="btn text-white m-1" 
                                href="#" role="button" 
                                data-mdb-ripple-color="dark">
                                <i class="bi bi-twitter"></i>
                            </a>
                            
                            <!--LinkedIn-->
                            <a  class="btn text-white m-1" 
                                href="#" role="button" 
                                data-mdb-ripple-color="dark">
                                <i class="bi bi-linkedin"></i>
                            </a>
    
                            <!--Github-->
                            <a  class="btn text-white m-1" 
                                href="#" role="button" 
                                data-mdb-ripple-color="dark">
                                <i class="bi bi-github"></i>
                            </a>
    
                        </div>
    
                    </footer>
    
                            <!--Derechos-->
                            <footer class="text-center" style="background-color: gray;">
                                <div>
                                    <p class="text-white"> ©Cachupin - Todos los derechos reservados </p>
                                </div>
                            </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>